<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Santa Claus present list</title>
    <link href="/assets/styles/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="img">
<img src='/assets/images/santa.jpg' alt='santa'>
</div>
<h1>Santa Claus present list</h1>
<ul>
    <li><a href="/child">Children</a></li>
    <li><a href="/gift">Gifts</a></li>
</ul>
<hr>
{{{body}}}
<!--<div>Icons made by <a href="https://www.freepik.com" title="Freepik"></a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->

</body>
</html>