<h1> Configure your Cookie</h1>
<h2>Select cookie base</h2>
<hr>
{{> base-selector}}

<hr>
<h2>Select your favourite addons</h2>
{{#each allAddons}}
    <button class="btn {{#if (isInArray @root.cookie.addons this.[0])}}btn-disabled{{/if}}"><a href="/configurator/add-addon/{{this.[0]}}">
    Add {{this.[0]}} for {{this.[1]}} PLN</a></button>
{{/each}}
{{#if cookie.base}}
{{> cookie-preview}}

{{> addons}}
<button class="btn-order"><a href="/order/summary">Order now!</a></button>
{{else}}
    <p><strong>Please select base of your cookie to see it's preview and summary price</strong></p>
    {{> base-selector}}

{{/if}}
